<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <p>
            <input type="text" name="name" placeholder="Enter Your name" id="">
        </p>
        <p>
            <input type="email" name="email" placeholder="Enter Your Email" id="">
        </p>
        <p>
            <input type="text" name="message" placeholder="Message" id="">
        </p>
        <button type="submit">Send</button>
    </form>
</body>
</html>